<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body class="h-full grid place-items-center">
    <div id="app">
      <section v-show="inProgressAssignments.length">
        <h2 class="font-bold mb-2">In progress</h2>

        <ul>
          <label>
            <li
              v-for="assignmentList in inProgressAssignments"
              v-bind:key="assignmentList.id"
            >
              {{ assignmentList.name }}

              <input type="checkbox" v-model="assignmentList.complete" />
            </li>
          </label>
        </ul>
      </section>

      <section v-show="completedAssignments.length" class="mt-8">
        <h2 class="font-bold mb-2">Completed</h2>
        <ul>
          <label>
            <li
              v-for="assignmentList in completedAssignments"
              v-bind:key="assignmentList.id"
            >
              {{ assignmentList.name }}

              <input type="checkbox" v-model="assignmentList.complete" />
            </li>
          </label>
        </ul>
      </section>
    </div>
    <script>
      let app = {
        data() {
          return {
            assignments: [
              { name: "Finish project", completed: false, id: 1 },
              { name: "Read Chapter 1", completed: false, id: 2 },
              { name: "Dota", completed: false, id: 3 },
            ],
          };
        },
        computed: {
          inProgressAssignments() {
            return this.assignments.filter(
              (assignments) => !assignments.complete
            );
          },
          completedAssignments() {
            return this.assignments.filter(
              (assignments) => assignments.complete
            );
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
